@page
@model EmojiBuilder.Pages.IndexModel
@{
    ViewData["Title"] = "Emoji Overview";
}

<h2>🧱 Emoji Overview</h2>

<table>
    <thead>
        <tr>
            <th>Default</th>
            <th>Dark Tone</th>
            <th>Name</th>
            <th>Exists in DB</th>
            <th>Supports Skin Tone</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var emoji in Model.EmojiList)
        {
            var defaultChar = emoji.Source.Utf8String;
            var darkChar = emoji.Source.Utf8String + "🏿";
            <tr class="@(emoji.ExistsInDb ? "modified" : "unmodified")">
                <td>@defaultChar</td>
                <td>@darkChar</td>
                <td>@emoji.Source.Name</td>
                <td>@(emoji.ExistsInDb ? "✔" : "✘")</td>
                <td>@(emoji.SupportsSkinTone ? "✔" : "✘")</td>
            </tr>
        }
    </tbody>
</table>
